{
  "parser": "",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-new": 0,
    "no-undefined": 0,
    "no-var": 0
  },
  "globals": {
    "assert": true,
    "sinon": true,
    "_": true,
    "closeTo": true
  }
}
